.mainPageContainer {
  width: max(80%, 800px);
  padding: 2em;
}

.lessonInformation {
  width: 100%;
  padding: 50px;
  background-color: rgba(220, 184, 255, 0.654);
  margin-bottom: 30px;
}
.mainTitle {
  font-size: xx-large;
}

.subTitle {
  font-size: large;
}
