/* Working Section */

.workingSection {
	color: #fff;
	width: 100%;
	height: 100vh;
	background-color: var(--color-primary);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.workingContainer {
	margin-top: 4rem;
	margin-bottom: 4rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 70%;
}

.workingTextContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-bottom: 2rem;
}

.workingTextContent {
	width: 100%;
	font-size: 1.2rem;
}

.workingImageContainer {
	display: flex;
	width: 100%;
	justify-content: space-around;
}

.workingTextHeading {
	font-weight: 600;
	font-size: 4rem;
}

.siteWorkingContainer {
	display: flex;
	font-size: 1.2rem;
}

.siteWorkingTitle {
	font-weight: 600;
	font-size: 1.3rem;
	padding: 2rem;
}

.workingImage {
	width: 85%;
	height: 80%;
}

@media (max-width: 640px) {
	.workingSection {
		height: 150%;
	}
}
