.cardContainer {
	width: fit-content;
	box-shadow: 1px 1px 1px 1px rgba(171, 160, 160, 0.678);
	margin: 10px;
}
.longCard {
	width: max(200px, 100%);
	max-width: 400px;
}

.courseImageContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.courseImage {
	height: 80px;
	width: 100px;
	margin: 30px;
}

.pathDetails {
	padding: 15px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.pathCount {
	color: var(--color-primary);
	font-weight: 400;
}

.pathName {
	font-weight: 400;
	font-size: medium;
}
.courseCount {
	color: var(--color-primary);
	font-weight: 300;
}

.pathDesc {
	color: #967684;
}

.pathDescriptionContainer {
	text-align: justify;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
