.indexPage {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	margin-top: 4rem;
	margin-bottom: 6rem;
	margin-left: auto;
	margin-right: auto;
	width: max(100%, 500px);
}

.overviewHeader {
	font-weight: bolder;
	width: max(500px, 100%);
	max-width: 800px;
}

.courseOverview {
	width: max(500px, 100%);
	max-width: 800px;
}

@media (max-width: 600px) {
	.indexPage {
		width: 90%;
	}
}
