.mainContainer {
	display: flex;
	height: 100vh;
}

.mainBG {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.container {
	width: 100%;
	height: 100%;
	position: absolute;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: auto;
}

.abstractDesign {
	width: 5rem;
	height: 10rem;
	background-color: beige;
}

.paperImage {
	width: 80%;
	height: 70%;
}

.headingContainer > div {
	position: absolute;
	text-align: center;
}

.headingContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	bottom: 20%;
}

.mainTitle {
	font-size: 5rem;
	color: #10162f;
}

.mainSubText {
	color: var(--color-secondary);
}

.curriculumBtn {
	color: #10162f;
	padding: 0.5rem 1.5rem;
	border: 5px solid #10162f;
}

.buttonContainer {
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
}

.abstractDesign {
	position: relative;
	top: 10%;
	width: 50%;
	height: 60%;
	background-color: #cbcbcb;
}

.buttonContainer > .abstractDesign {
	background-color: #10162f;
	height: 20%;
	width: 100%;
}

.button {
	margin-bottom: 5rem;
	color: #10162f;
	padding: 0.75rem 1.5rem;
	border: 2px solid #10162f;
	border-radius: 10px;
	width: fit-content;
	transition: all 00ms ease-in-out;
}

.button:hover {
	transform: scale(110%);
}

@media (max-width: 1024px) {
	.container {
		top: 20%;
	}
	.mainTitle {
		font-size: 3rem;
		color: #10162f;
	}

	.paperImage {
		width: 100%;
		height: 80%;
	}

	.abstractDesign {
		opacity: 0;
	}
}

@media only screen and (max-width: 600px) {
	.mainContainer {
		height: 150vh;
		display: flex;
		justify-content: center;
	}
	.mainBG {
		object-fit: cover;
		height: 100%;
	}

	.container {
		grid-template-columns: repeat(1, 1fr);
	}

	.paperImage {
		width: 100%;
		height: 100%;
	}

	.buttonContainer {
		position: relative;
		bottom: 50%;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}
}

/* Working Section */

.workingSection {
	color: #fff;
	width: 100%;
	height: 100vh;
	background-color: var(--color-primary);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.workingContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 100%;
	width: 70%;
}

.workingTextContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.workingTextContent {
	width: 100%;
	font-size: 2rem;
}

.workingImageContainer {
	display: flex;
	width: 100%;
	justify-content: space-around;
}

.workingTextHeading {
	font-weight: 600;
	font-size: 5rem;
}

.siteWorkingContainer {
	display: flex;
	font-size: 1.5rem;
}

.siteWorkingTitle {
	font-weight: 600;
	font-size: 2rem;
	padding: 2rem;
}

.workingImage {
	width: 95%;
	height: 90%;
}

@media (max-width: 640px) {
	.workingSection {
		height: 150%;
	}
}
